* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50% - 504px);
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid black;
}

.btn-cart {
    background-color: white;
    border: none;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    text-align: center;
}


.product-item {
    border: 1px solid black;
}

.product-link {
    color: black;
}

.by-btn {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    outline: none;
}

.by-btn:hover {
    box-shadow: 0 0 5px black;
}